<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>
  <header>
    <nav>
      <div class="logo">
        <img src="images/logo.svg" alt="Logo" />
      </div>
      <div class="titles">
        <p class="sub-title">Breads</p>
        <p class="main-title">Digital Cake</p>
        <p class="sub-title">Cookies</p>
      </div>
      <div class="user-icons">
        <div class="log-in">
          <i class="fa-solid fa-right-to-bracket"></i>
          <span>Log In</span>
        </div>
        <div class="shopping-cart">
          <i class="fa-solid fa-basket-shopping"></i>
          <span>0</span>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="main-container">
      <div class="search-options">
        <span>Búsqueda 1 ></span>
        <span>Búsqueda 2 ></span>
        <span>Búsqueda 3 ></span>
      </div>
      <div class="product-images">
        <div class="images-list">
          <div class="image-thumbnail">
            <img src="images/products/thumbnail_1.jpg" alt="Thumbnail 1" />
          </div>
          <div class="image-thumbnail">
            <img src="images/products/thumbnail_2.jpg" alt="Thumbnail 2" />
          </div>
          <div class="image-thumbnail">
            <img src="images/products/thumbnail_3.jpg" alt="Thumbnail 3" />
          </div>
        </div>
        <div class="image-preview">
          <img src="images/products/thumbnail_1.jpg" alt="Preview 1" />
        </div>
        <div class="product-info">
          <h2>Amazing Cake</h2>
          <br />
          <p><strong>Precio:</strong> 50 USD</p>
          <br />
          <p><strong>Promo:</strong> 4 pagos de 10 dólares con Visa</p>
          <br />
          <h4>Descripcion</h4>
          <p>
            Torta de 4 pisos especial para eventos o para sorprender a tus
            seres queridos.
          </p>
          <br />
          <h5>Medios de pago:</h5>
          <ul>
            <li>Visa</li>
            <li>MercadoPago</li>
            <li>MasterCard</li>
          </ul>
          <br />
          <button>Añadir al Carrito</button>
        </div>
      </div>

      <!-- <div class="general-information">
          <div class="ingredients">
            <h4>Info. General</h4>
          </div>
          <div class="ingredients">
            <h4>Ingredientes</h4>
          </div>
          <div class="alert">
            <h4>Contraindicaciones</h4>
          </div>
        </div> -->
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>