<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <header>
    <%- include('../partials/navbar') %>
</header>
  <main>
    <h4 class="product-title">Carrito de Compras</h4>
    <div class="product">
      <img src="images/products/product_6.jpg" alt="pan" class="product-image" />
      <div class="product-texts">
        <p class="name-product">Nombre del producto</p>
        <p class="price-product">Precio</p>
      </div>
    </div>
    <div class="product">
      <img src="images/products/product_6.jpg" alt="pan" class="product-image" />
      <div class="product-texts">
        <p class="name-product">Nombre del producto</p>
        <p class="price-product">Precio</p>
      </div>
    </div>
    <div class="product">
      <img src="images/products/product_6.jpg" alt="pan" class="product-image" />
      <div class="product-texts">
        <p class="name-product">Nombre del producto</p>
        <p class="price-product">Precio</p>
      </div>
    </div>
    <div class="product">
      <img src="images/products/product_6.jpg" alt="pan" class="product-image" />
      <div class="product-texts">
        <p class="name-product">Nombre del producto</p>
        <p class="price-product">Precio</p>
      </div>
    </div>
    <div class="total-prices">
      <div class="prices">
        <p>Subtotal</p>
        <p>xxxxxxxx</p>
      </div>
      <div class="prices">
        <p>Impuestos</p>
        <p>xxxxxxxx</p>
      </div>
      <div class="prices">
        <p>Envio</p>
        <p>xxxxxxxx</p>
      </div>
      <div class="prices total">
        <p>TOTAL</p>
        <p>XXXXXXX</p>
      </div>
    </div>
  </main>
  <%- include('../partials/footer') %>

</body>

</html>