/* .{
    color: #af762f;
    color: #f5cf8e;
    color: #f9f7f8;
    color: #dfd9dd;
    color: #bea28c;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header --------------------------------------------------------------------*/

a{
    text-decoration: none;
    color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
}

nav .titles {
  font-family: 'Lobster', Georgia, Times, serif;
  display: flex;
  flex-direction: row;
}

#question {
  background-color: white;
  border-radius: 50%;
  height: 25px;
  padding: 5px 9px 5px 0px;
  position: relative;
  right: 20px;
  top: 6px;
  width: 28px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo a :hover {
  border-radius: 50%;
  border: 3px solid #af762f;
}

.titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-left: -110px;
}

.titles p {
  font-family: 'Lobster', Georgia, Times, serif;
  margin: 0 10px;
}

.sub-title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.9rem 0;
}

.main-title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 0;
}

.user-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: #af762f;
  margin-right: 5px;
}

/* main --------------------------------------------------------------------*/

main {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #f9f7f8;
  height: 100%;
  text-align: center;
}

form {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
}

.input {
  margin: 10px;
  border: none;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  padding-left: 20px;
  max-width: 700px;
  border: solid #af762f 1px;
}

.select {
  margin: 10px;
  border: none;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  padding-left: 20px;
  max-width: 700px;
  border: solid #af762f 1px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.añadir {
  font-family: Cabin;
  font-size: 15px;
  margin: 10px;
  border: none;
  height: 35px;
  width: 40%;
  border-radius: 5px;
  min-width: 100px;
  background-color: #af762f;
  color: white;
}

.button_container {
  margin: 10px;
  width: 80%;
}

.product-error, .description-error, .file-error, .price-error, .category-error {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin: 2px;
  text-align: left;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

img {
  width: 150px;
}

.mensaje1 {
  font-family: 'Lobster', Georgia, Times, serif;
  padding-left: 20px;
  padding-top: 20px;
  align-self: flex-start;
  height: 50px;
}

.mensaje2 {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  max-width: 300px;
  padding: 20px;
  align-self: flex-end;
}

.container-file {
  margin: 10px;
  height: 35px;
}

.inputfile {
  height: 35px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-1 + label {
  color: #fff;
  display: flex;
  background-color: #c39f77;
  height: 35px;
  align-items: center;
  justify-content: center;
  width: 82%;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #9f8465;
  cursor: pointer;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (min-width: 492px) {
  .welcome {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
  }

  img {
    width: 150px;
  }

  .mensaje1 {
    font-family: 'Lobster', Georgia, Times, serif;
    padding-left: 20px;
    padding-top: 20px;
    align-self: flex-start;
    height: 50px;
  }

  .mensaje2 {
    width: 300px;
    padding: 20px;
    align-self: flex-end;
  }
}

.id_hidden{
  display: none;
}

.profile_picture{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid #af762f;
}

.opciones_form {
  margin-right: 2px;
  border: none;
  height: 40px;
  width: 40%;
  border-radius: 5px;
  min-width: 100px;
  background-color: #af762f;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.content_new{
  display: flex;
  flex-direction: column;
  width: 51%;
  margin-left: 25px;
  padding-top: 0px;
  margin-top: 0px;
}

.opciones_form:hover, .añadir:hover:enabled {
  background-color: #f5cf8e;
  cursor: pointer;
}

/* footer -------------------------------*/

footer {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #dfd9dd;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0.5rem;
}

.footer-container i {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.contact-info {
  padding: 10px;
}

.copy-right {
  padding: 10px;
}

.social-media {
  padding: 10px;
}

@media (min-width: 560px) {
  footer {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    background-color: #dfd9dd;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0.5rem;
  }

  .footer-container i {
    font-size: 2rem;
    padding: 0 0.5rem;
  }
}
