/* .{
    color: #af762f;
    color: #f5cf8e;
    color: #f9f7f8;
    color: #dfd9dd;
    color: #bea28c;
}  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header --------------------------------------------------------------------*/

a{
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

h1 {
  font-family: 'Lobster', Georgia, Times, serif;
}

nav .titles {
  font-family: 'Lobster', Georgia, Times, serif;
  display: flex;
  flex-direction: row;
}

.main-title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 0;
}

.sub-title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.9rem 0;
}

.logo img {
  width: 80px;
  height: 80px;
}


.logo a :hover {
  border-radius: 50%;
  border: 3px solid #af762f;
}

.titles p {
  font-family: 'Lobster', Georgia, Times, serif;
  margin: 0 10px;
}

.user-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.user-icons div {
  margin: 0 0.5rem;
}

.user-icons i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: #af762f;
  margin-right: 5px;
}

.hero-image {
  width: 100%;
  height: 400px;
  background-image: url('../images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image h1 {
  position: relative;
  color: #f5cf8e;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 1rem;
  top: 60px;
}
/* main --------------------------------------------------------------------*/

main {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #f9f7f8;
  height: 100%;
  text-align: center;
}

.entradas {
  background-color: #f9f7f8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: solid #af762f 1px;
  width: 90%;
  margin: 20px auto 20px;
}

.imagenes {
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

.imagenes .logo{
  border: solid #af762f 2px;
  border-radius: 50%;
}

.logo {
  width: 80%;
  margin: 10px;
}

@media (min-width: 240px) {
  .logo {
    width: 200px;
    margin: 10px;
  }
}

.animation {
  background-image: url('../images/icon-heart-rotated.svg');
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 73px;
  margin: 10px;
}

.animation img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: block;
  animation-name: spin;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marca {
  font-family: 'Lobster', Georgia, Times, serif;
  margin: 20px;
}

#nombre,
#contraseña {
  margin: 10px;
  border: none;
  height: 25px;
  width: 80%;
  border-radius: 5px;
  padding-left: 20px;
  max-width: 700px;
  border: solid #af762f 1px;
}

.registrarse {
  margin: 10px;
  border: none;
  height: 35px;
  width: 40%;
  border-radius: 5px;
  min-width: 100px;
  background-color: #af762f;
  color: white;
  font-weight: bold;
}

.registrarse:hover {
  background-color: #f5cf8e;
  cursor: pointer;
}

.input {
  width: 80%;
  max-width: 700px;
  text-align: left;
  /* position: relative; */
  left: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.error{
  color: red;
  font-size: 11px;
  font-weight: 400;
  margin: 2px;
  text-align: left;
}


/* footer -------------------------------*/

footer {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  background-color: #dfd9dd;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0.5rem;
}

.footer-container i {
  font-size: 2rem;
  padding: 0 0.5rem;
}

.contact-info {
  padding: 10px;
}

.copy-right {
  padding: 10px;
}

.social-media {
  padding: 10px;
}

@media (min-width: 560px) {
  footer {
    background-color: #dfd9dd;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0.5rem;
  }

  .footer-container i {
    font-size: 2rem;
    padding: 0 0.5rem;
  }
}
