/* .{
    color: #af762f;
    color: #f5cf8e;
    color: #f9f7f8;
    color: #dfd9dd;
    color: #bea28c;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Header --------------------------------------------------------------------*/

.user-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.user-icons div {
  margin: 0 0.5rem;
}

.user-icons i {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  color: #af762f;
  margin-right: 5px;
}

.logo img {
  width: 80px;
  height: 80px;
}

.logo a :hover {
  border-radius: 50%;
  border: 3px solid #af762f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}


h1 {
  font-family: 'Lobster', Georgia, Times, serif;
}

 .titles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lobster', Georgia, Times, serif;
  gap: 45px;
  margin-left: -110px;
} 

.sub-title {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.9rem 0;
}

.main-title {
  font-size: 42px;
}

main {
  background-color: #f9f7f8;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 40px;
  text-align: center;
}

/* Main --------------------------------------------------------------------*/
.product {
  display: flex;
  gap: 70px;
  justify-content: center;
  padding-bottom: 40px;

}

.product-image {
  border: solid #af762f 1px;
  height: 150px;
  width: 220px;
  border-radius: 20px;
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        0 0  0 2px rgb(255,255,255),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
  margin-bottom: 10px;
}


.product-texts {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.product-title {
  font-size: 28px;
  margin-bottom: 40px;
}

.product-empty {
  font-size: 20px;
  margin-bottom: 40px;
  padding-left: 20%;
}

.name-product {
  font-size: 28px;
}

.price-product {
  font-size: 20px;
}

.total-prices {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30%;
  width: 40%;
}

.prices {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}


.product-container{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  padding-left: 35%;
}





@media (min-width: 492px) {
  footer {
    background-color: #dfd9dd;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
  }

  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0.5rem;
  }

  .footer-container i {
    font-size: 2rem;
    padding: 0 0.5rem;
  }

  .contact-info {
    padding: 10px;
  }

  .copy-right {
    padding: 10px;
  }

  .social-media {
    padding: 10px;
  }
}

@media (min-width: 560px) {
  footer {
    background-color: #dfd9dd;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
  }

  .footer-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0.5rem;
  }

  .footer-container i {
    font-size: 2rem;
    padding: 0 0.5rem;
  }
}

