<footer>
    <div class="footer-container">
      <div class="contact-info">
        <p>Phone: 123-456-789</p>
        <p>Email: example@example.com</p>
      </div>
      <div class="copy-right">
        <p>© 2023 Digital Cake</p>
      </div>
      <div class="social-media">
        <div class="social-media-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>
    </div>
  </footer>