<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

    <!-- Font Awesome -->
    <% for(let i = 0; i < styles.length; i++) {%>
    <link rel="stylesheet" href="css/<%= styles[i] %>.css" />
    <% }%>
    <script
      src="https://kit.fontawesome.com/81cd34b36e.js"
      crossorigin="anonymous"
    ></script>
    <% for(let i = 0; i < title.length; i++) {%>
        <title><%= title[i] %></title>
    <% }%>
  </head>